<h1>Edit Phone</h1>

<%= form_with model: @phone,local: true do |form| %>
  <p>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
<br>
<p>
    <%= form.label :operator %><br>
    <%= form.text_field :operator %>
<br>
    <%= form.label :user_id %><br>
    <%= form.text_field :user_id %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back',phones_path %>