<h1>New User</h1>

<%= form_with model: @user, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :title %>
  <p>

  	<p>
    <%= form.label :date_birth %><br>
    <%= form.text_field :date_birth %>
  <p>

  	<p>
    <%= form.label :role %><br>
    <%= form.text_field :role_id %>
  <p>

  	<p>
    <%= form.label :address %><br>
    <%= form.text_field :address_id %>
  <p>

    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back',users_path %>

