<h1>New Address</h1>

<%= form_with scope: :address, url:addresses_path,local: true do |form| %>
  <p>
    <%= form.label :address %><br>
    <%= form.text_field :address %>


  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Назад',addresses_path,class: 'btn btn-outline-secondary' %>