<%= link_to 'Новый товар', new_product_path, class: 'btn btn-success' %>
<h1 padding= "1em">Список всех товаров</h1>
<table>
    <% @products.each do |product| %>
    <tr class="list" cellpadding="20px">
        <td>
            <%= product.id %>
        </td>
        <td>
            <%= product.title %>
        </td>

        <td >
            <%= product.status %>
        </td>
        <td>
            <%= Category.where(:id => product.category_id).pluck(:title).first%>
        </td>
        <td>
            <%= link_to 'Просмор', product_path(product), class: "btn btn-secondary btn-sm" %>
        </td>
        <td>
            <%= link_to 'Изменить', edit_product_path(product), class: "btn btn-secondary btn-sm" %>
        </td>
        <td>
            <%= link_to 'Списать', product_path(product),class: "btn btn-secondary btn-sm",
              method: :delete,
              data: { confirm: 'Хотите удалить?' } %>
        </td>
    </tr>
    <% end %>
</table>
