<h1>New Supplier</h1>

<%= form_with scope: :supplier, url:suppliers_path,local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
<br>
    <%= form.label :address %><br>
    <%= form.text_field :address %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back',suppliers_path %>